@page
@model Compet.Pages.Disciplines.IndexModel

@{
    ViewData["Title"] = "Дисциплины";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Все дисциплины</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discipline[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Discipline) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-secondary">Изменить</a>
@*                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary"></a>*@
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
